body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1245px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u5957 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  word-wrap:break-word;
}
#u5959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5959 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:114px;
  width:375px;
  height:603px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  word-wrap:break-word;
}
#u5961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u5962 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:50px;
  width:375px;
  height:64px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u5963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u5964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u5964 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:54px;
  width:363px;
  height:13px;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u5966 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:82px;
  width:34px;
  height:22px;
  font-size:14px;
  color:#333333;
}
#u5967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  white-space:nowrap;
}
#u5968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u5968 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:82px;
  width:63px;
  height:22px;
  font-size:14px;
  color:#333333;
}
#u5969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  white-space:nowrap;
}
#u5970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5970 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:48px;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:640px;
  width:375px;
  height:77px;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:650px;
  width:58px;
  height:58px;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:654px;
  width:50px;
  height:50px;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:657px;
  width:44px;
  height:44px;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:21px;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:64px;
  width:37px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:21px;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:33px;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:58px;
  width:18px;
  height:33px;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:18px;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:58px;
  width:37px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:18px;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:603px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:115px;
  width:375px;
  height:603px;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:50px;
  width:375px;
  height:64px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  word-wrap:break-word;
}
#u5991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:54px;
  width:363px;
  height:13px;
  opacity:0.8;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:87px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:88px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:114px;
  width:375px;
  height:604px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#656565;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:304px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:125px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:542px;
  width:84px;
  height:84px;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:49px;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:560px;
  width:46px;
  height:49px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:956px;
  top:538px;
  width:16px;
  height:16px;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:93px;
  width:0px;
  height:0px;
}
#u6010_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u6010_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:499px;
}
#u6010_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:487px;
  width:27px;
  height:8px;
}
#u6010_seg3 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:481px;
  width:20px;
  height:20px;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:234px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:1092px;
  top:636px;
  width:56px;
  height:20px;
  color:#666666;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:636px;
  width:82px;
  height:20px;
  color:#666666;
}
#u6015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u6016_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6016 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:636px;
  width:56px;
  height:20px;
  color:#666666;
}
#u6017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6018 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:636px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u6019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  text-align:center;
}
#u6020 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:636px;
  width:67px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#108EE9;
  text-align:center;
}
#u6021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
