body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1203px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:17px;
  width:1142px;
  height:1158px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:34px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:34px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:258px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:34px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:0px;
  width:727px;
  height:34px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:723px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:34px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:0px;
  width:148px;
  height:34px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:144px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:1119px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:262px;
  height:1119px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:552px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:1119px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:34px;
  width:727px;
  height:1119px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:552px;
  width:723px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:1119px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:34px;
  width:148px;
  height:1119px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:552px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:71px;
  width:100px;
  height:60px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:71px;
  width:100px;
  height:60px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:150px;
  width:100px;
  height:60px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:362px;
  width:100px;
  height:60px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:524px;
  width:100px;
  height:60px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:649px;
  width:100px;
  height:60px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:745px;
  width:100px;
  height:60px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:246px;
  width:100px;
  height:60px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:919px;
  width:100px;
  height:60px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:1012px;
  width:100px;
  height:60px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:246px;
  width:100px;
  height:60px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:362px;
  width:100px;
  height:60px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:515px;
  width:100px;
  height:60px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:362px;
  width:100px;
  height:60px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:745px;
  width:100px;
  height:60px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:101px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:290px;
  height:8px;
}
#u43_seg1 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:-10px;
  width:20px;
  height:20px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:131px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:6px;
  width:20px;
  height:20px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:210px;
  width:0px;
  height:0px;
}
#u47_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u47_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:276px;
  width:0px;
  height:0px;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-10px;
  width:20px;
  height:20px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:306px;
  width:0px;
  height:0px;
}
#u51_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:60px;
}
#u51_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:43px;
  width:20px;
  height:20px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:392px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-10px;
  width:20px;
  height:20px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:276px;
  width:0px;
  height:0px;
}
#u55_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:22px;
  height:8px;
}
#u55_seg1 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-100px;
  width:8px;
  height:104px;
}
#u55_seg2 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:-100px;
  width:202px;
  height:8px;
}
#u55_seg3 {
  border-width:0px;
  position:absolute;
  left:-187px;
  top:-106px;
  width:20px;
  height:20px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-104px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:709px;
  width:0px;
  height:0px;
}
#u57_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u57_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:23px;
  width:20px;
  height:20px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:775px;
  width:0px;
  height:0px;
}
#u59_seg0 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-4px;
  width:90px;
  height:8px;
}
#u59_seg1 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-10px;
  width:20px;
  height:20px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:545px;
  width:0px;
  height:0px;
}
#u61_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u61_seg1 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-4px;
  width:8px;
  height:378px;
}
#u61_seg2 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:361px;
  width:20px;
  height:20px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:979px;
  width:0px;
  height:0px;
}
#u63_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u63_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:959px;
  width:100px;
  height:60px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:1012px;
  width:100px;
  height:60px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:1042px;
  width:0px;
  height:0px;
}
#u69_seg0 {
  border-width:0px;
  position:absolute;
  left:-264px;
  top:-4px;
  width:268px;
  height:8px;
}
#u69_seg1 {
  border-width:0px;
  position:absolute;
  left:-271px;
  top:-10px;
  width:20px;
  height:20px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:-182px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:1092px;
  width:100px;
  height:60px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:1072px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u73_seg1 {
  border-width:0px;
  position:absolute;
  left:-314px;
  top:46px;
  width:318px;
  height:8px;
}
#u73_seg2 {
  border-width:0px;
  position:absolute;
  left:-321px;
  top:40px;
  width:20px;
  height:20px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:-182px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:959px;
  width:100px;
  height:60px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:1092px;
  width:100px;
  height:60px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:989px;
  width:0px;
  height:0px;
}
#u79_seg0 {
  border-width:0px;
  position:absolute;
  left:-296px;
  top:-4px;
  width:300px;
  height:8px;
}
#u79_seg1 {
  border-width:0px;
  position:absolute;
  left:-303px;
  top:-10px;
  width:20px;
  height:20px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:-198px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:1042px;
  width:0px;
  height:0px;
}
#u81_seg0 {
  border-width:0px;
  position:absolute;
  left:-530px;
  top:-4px;
  width:530px;
  height:8px;
}
#u81_seg1 {
  border-width:0px;
  position:absolute;
  left:-530px;
  top:-23px;
  width:8px;
  height:27px;
}
#u81_seg2 {
  border-width:0px;
  position:absolute;
  left:-536px;
  top:-30px;
  width:20px;
  height:20px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:-324px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:1122px;
  width:0px;
  height:0px;
}
#u83_seg0 {
  border-width:0px;
  position:absolute;
  left:-476px;
  top:-4px;
  width:480px;
  height:8px;
}
#u83_seg1 {
  border-width:0px;
  position:absolute;
  left:-483px;
  top:-10px;
  width:20px;
  height:20px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:-288px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:422px;
  width:0px;
  height:0px;
}
#u85_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:106px;
}
#u85_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:89px;
  width:20px;
  height:20px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:584px;
  width:0px;
  height:0px;
}
#u87_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u87_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:839px;
  width:100px;
  height:60px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:899px;
  width:0px;
  height:0px;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:869px;
  width:0px;
  height:0px;
}
#u93_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:354px;
  height:8px;
}
#u93_seg1 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:-294px;
  width:8px;
  height:298px;
}
#u93_seg2 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:-301px;
  width:20px;
  height:20px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:805px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u95_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:60px;
  width:140px;
  height:8px;
}
#u95_seg2 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:54px;
  width:20px;
  height:20px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:805px;
  width:0px;
  height:0px;
}
#u97_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u97_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:392px;
  width:0px;
  height:0px;
}
#u99_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u99_seg1 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-10px;
  width:20px;
  height:20px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:422px;
  width:0px;
  height:0px;
}
#u101_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:127px;
}
#u101_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:119px;
  width:174px;
  height:8px;
}
#u101_seg2 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:113px;
  width:20px;
  height:20px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:114px;
  width:100px;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:982px;
  top:422px;
  width:0px;
  height:0px;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:97px;
}
#u103_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:80px;
  width:20px;
  height:20px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
